In [1]:
data = pd.read_csv ('D:/Downloads/teste.csv')

NameError: name 'pd' is not defined

In [2]:
import pandas as pd

In [20]:
df = pd.read_csv ('D:/Downloads/teste.csv', sep=';')

In [21]:
df.head()

,car,area,uf,mun,modulo_fiscal,tipo_imovel,situacao,condicao
0,AC-1200013-0763C9A914E1405F835279A6E001ED6A,60.568,AC,Acrelândia,0.0606,IRU,PE,"Analisado com pendências, aguardando retificaç..."
1,AC-1200013-0763C9A914E1405F835279A6E001ED6A,5.555,AC,saopauo,5555.0000,IRU,PE,teste